*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 90%;
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

.article-list {
  text-align: center;
}

.article-list>button,
select {
  border: 1px rgb(67, 67, 67);
  background-color: rgb(39, 39, 39);
  border-style: solid none solid none;
  border-radius: 6px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1%;
  margin-inline: 2px;
  font-size: 100%;
  font-weight: 350;
}

.article-list>select {
  border: 1px rgb(67, 67, 67);
  background-color: rgb(39, 39, 39);
  border-style: solid none solid none;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.article-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 1rem;

}

.article-card {
  border: 1px rgb(67, 67, 67);
  background-color: rgb(39, 39, 39);
  border-style: solid none solid none;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  padding: 2rem;
}

.article-body {
  padding: 2px 2px;
}

.article-card>img {
  width: auto;
  height: auto;
  border-radius: 6px;
}


.single-article {
  max-width: 500px;
  margin: 30px;
  margin-left: 50px;

}

.single-article>img {
  max-width: 500px;
}

.single-article>button {
  padding: 10px;
  margin-top: 0px;

}

.comment-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 1rem;

}

.comment-card {
  border: 1px rgb(67, 67, 67);
  background-color: rgb(35, 35, 35);
  border-style: solid none solid none;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-inline: 10px;
  margin: 10px;
  border-radius: 6px;
  /* text-align: center;
  justify-content: center; */
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 1rem;
}

.comment-header,
.comment-footer {
  font-size: 90%;
  color: #f9c775;
  ;
}

.topic-card {
  border-style: solid;
  padding: 5px;
  padding-bottom: 20px;
  padding-inline: 10px;
  margin: 30px;
  border-radius: 25px;

}

h2 {
  font-size: 40px;
}